<?php

// Reference: http://cs.sensiolabs.org/
// Usage: php-cs-fixer fix app

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude(['bootstrap', 'storage', 'vendor'])
    ->name('*.php')
    ->name('_ide_helper')
    ->notName('*.blade.php')
    ->ignoreDotFiles(true)
    ->ignoreVCS(true);


return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        '@PHP70Migration' => true,
        '@PHP71Migration' => true,
        'no_multiline_whitespace_before_semicolons' => true,
        'array_syntax' => ['syntax' => 'short'],
        'simplified_null_return' => false,
        'strict_comparison' => true,
        'strict_param' => true,
        'yoda_style' => false,
        'ordered_imports' => ['sortAlgorithm' => 'alpha'],
        'no_unused_imports' => true,
        'no_extra_blank_lines' => ['default', 'use', 'useTrait'],
        'phpdoc_add_missing_param_annotation' => false,
        'phpdoc_separation' => false,
        'phpdoc_align' => ['align' => 'left'],
    ])
    ->setFinder($finder);
